<app-navbar></app-navbar>

<div id="form-container">
  <form id="form" [formGroup]="form" (submit)="addImage({ url: this.form.get('url')?.value ?? '' })">
    <label id="title" for="url">Enter an image URL</label>
    <input id="url" name="url" [formControlName]="'url'" type="text" placeholder="URL">
    <div *ngIf="isInvalid()"
         id="errors" class="alert alert-danger">
      <label *ngIf="hasError('required')"
             class="error">
        URL must not be empty.
      </label>
      <label *ngIf="hasError('pattern')"
             class="error">
        URL must be a valid image url.
      </label>
    </div>
    <button mat-raised-button [disabled]="isInvalid()" id="analyse" type="submit">Analyse</button>
  </form>
</div>
